[submodule "vendor/libfaketime"]
	path = libfaketime/vendor/libfaketime
	url = https://github.com/simon-weber/libfaketime.git
	branch = python-libfaketime
[submodule "vendor/libfaketime-pre_sierra"]
	path = libfaketime/vendor/libfaketime-pre_sierra
	url = https://github.com/simon-weber/libfaketime.git
	branch = python-libfaketime-pre_sierra
