include CHANGELOG.rst LICENSE README.rst
recursive-include libfaketime *.py
include libfaketime/vendor/libfaketime/Makefile
include libfaketime/vendor/libfaketime/src/Makefile
include libfaketime/vendor/libfaketime/src/Makefile.OSX
include libfaketime/vendor/libfaketime/COPYING
recursive-include libfaketime/vendor/libfaketime/src *.c *.h *.map
include libfaketime/vendor/libfaketime-pre_sierra/Makefile
include libfaketime/vendor/libfaketime-pre_sierra/src/Makefile
include libfaketime/vendor/libfaketime-pre_sierra/src/Makefile.OSX
include libfaketime/vendor/libfaketime-pre_sierra/COPYING
recursive-include libfaketime/vendor/libfaketime-pre_sierra/src *.c *.h *.map
